*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-size: 1.8vw;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: white;
}

/* navigation bar */

nav {
    background: #213855;
    height: 80px;
    width: 100%;
}

.logo{
    width: 110px;
    padding: 10 0 0 20;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 20px;
}

.flag {
    width: 20px;
}

.flag2 {
    width: 24px;
}

.teste {
    color: white;
    float: right;
    margin-right: 30px;
    padding-top: 32px;
    cursor: pointer;
}

.teste2{
    float: right;
    padding-top: 29px;
    margin-right: 10;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 5px 13px;
    text-transform: uppercase;
}

a.active,a:hover{
    border-bottom: #428B82 solid 1px;
    transition: .5s width ease-in-out;
}

.semlinha:hover {
    border-bottom: none;
}

.checkbtn {
    font-size: 26px;
    color: black;
    float: left;
    line-height: 80px;
    padding-top: 15px;
    margin-left: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.container img {
    width:100%;
}

.container h1 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    text-align: right;
    font-size: 4.5vw;
    color: white;
    text-shadow: 4px 4px #213855;
}

h2{
    font-family: 'Archivo Black', sans-serif;
    /*font-family: 'Rubik', sans-serif;*/
    font-weight: 700;
    font-size: 3vw;
    text-align: center;
}

/*
.container {
    position: relative;
}*/

h4 {
    position: relative;
    top:22%;
    z-index: -1;
}

h1 { 
    position: absolute; 
    top: 55%; 
    left: -30px;
    width: 100%;
}

.container {
    background-image: url("capa_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60%;
}

.coluna12 {
    background-color: white;
}

.nossaempresa p {
    font-family: 'Karla', sans-serif;
    font-size: 1.3em;
    font-weight: 100;
    color: black;
    padding: 50 90 50 90;
    text-align: left;
    line-height: 1.5;
}

.bold {
    font-weight: 400;
}

.solucao {
    padding: 20px;
    width: 23%;
    text-align: center;
    border: solid 1px black;
    margin: 0 10 20 10;
    border-radius: 6px;
    background-color: white;

}

.solucao:hover {
    border: solid 1px black;
    background-color: #A7D9D3;
}

.solucao p:hover {
    color: black;
    cursor: pointer;
}

.solucao p {
    color: black;
}

.coluna3 img{
    width: 40px;
}

.coluna3 p{
    line-height: 1.3;
    padding: 5px;
    font-size: 1.3vw;
}

.coluna12{
    padding: 0 30 0 30;
    background-color: ;
}

.coluna12 h2{
    color: #213855;
    padding-bottom: 50px;
    padding-top: 50px;
    text-transform: uppercase;
}

.marginblocs {
    padding-right: 5%;
    padding-left: 5%;
}

.envoltadassolucoes {
    padding: 50px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    clear: both;
    display: block;
    height: 0;
}

.hide {
    border: none;
}

.linha1 {
    height: 30%;
}

.linha2{
    height: 30%;
    margin-bottom: 100px;
}

footer, .coluna2, .fundoazul {
    background-color: #213855;
    height: 55%;
}

.coluna4 p{
    font-family: 'Karla', sans-serif;
    color: white;
    font-weight: 300;
    text-align: center;
    font-size: 1.5vw;
    line-height: 1.5;
}


/*footer*/

footer p {
    color: #428B82;
    font-weight: bold;
}

.streamings {
    /*display: flex;*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*margin-left: -1rem;
    margin-right: -1rem;*/
}

.streamings i {
    font-size: 1.8em;
    transition: all 0.3s ease-in-out;
    margin-top: 10;
    margin-right: 10;
    color: #428B82;
}

.streamings i:hover, .streamings i:focus {
    transform: scale(1.1);
}

.streamings .strm{
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    margin: 0.5rem 0.75rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.streamings .strm:focus,
.streamings .strm:hover {
    transform: scale(1.1);
}

.streamings li{
    color: white;
    
}

h3 {
    font-family: 'Karla', sans-serif;
    color: white;
}

.sempadding {
    padding-top: 20;
}

.margem {
    padding-top:20%;
}

.margem ul {
    font-family: 'Karla', sans-serif;
    
}

.margem a {
    color: #428B82;
    line-height: 2;
}

.logo2{
    width: 50%;
}

.creditos {
    padding: 20 30 20 0;
    background-color: #4C5B6E;
}

.creditos p {
    text-align: right;

}

.alinhardireita ul {
    text-align: right;
}

.margemdireita {
    padding-right: 18%;
}